body {
	margin: 0px;	
	font-size: 11pt;
	color: white;
	font-family: 'Play', sans-serif;
}

h1 {
 	font-family: 'Play', sans-serif; 
	font-weight: normal;
	font-size: 30pt;
	margin: 0px;
	margin-top: 20px;
}

h2 {
	color: #425dfc;
	font-size: 18pt;
	font-weight: normal;
	margin-bottom: 3px;
	margin-top: 15px;
}

a {
	text-decoration: none;
}

.centralLayer {
	margin: 0px auto;
	z-index:1;
}

.white {
	color: white;
}

.black {
	color: black;
}

.photo {
/* 	background-attachment: fixed; */
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 800px;
	position: relative;
}

.hidden {
	display: none;
}

.downloadPDF {
	margin-top: 10px;
	display: block;
}

.downloadPDF a {
	color: white;
}

#firstText h1 {
	margin-top: 0px;
}

#firstText {
	position: relative;
	top: 80px;
	width: 900px;
}

#firstText .subtitle {
	width: 420px;
/* 	text-align: justify; */
}

#firstText .normalText {
	width: 300px;
	margin-top: 20px;
/* 	text-align: justify; */
}

#second {
	position: absolute;
	top: 950px;
	width:100%;
	color: black;
}


.first {
	background-image: url(pict/background_1.png);
	height: 1800px;
}


.third {
	background-image: url(pict/background_3.png);
}

.shoe {
	background-repeat: no-repeat;
	background-image: url(pict/trainers.png);
	position: fixed;
	top: 200px;
	left: 500px;
	width: 500px;
	height: 400px;
}

.left {
	float:left; 
}

#centralSquare {
	width:770px;
	height:850px;
	position:absolute;
	background-color: rgba(10,10,10,0.4);
	z-index:1001;
}

#menu {
	position: fixed;
	top:0px;
	width:100%;
	height:40px;
	line-height: 40px;
	text-align:center;
	z-index:1000;
	background-color:rgba(0,0,0,0.9);
}

#menu a {
	color: #d7f91d;
	text-decoration: none;
	margin-right: 25px;
	font-size: 10pt;
}

#menu .last {
	margin-right: 0px;
}

#centerButtons {
	margin-left:auto; 
	margin-right:auto; 
	width:900px;
}

#opa {
	margin-top: 7px;
	margin-right: 30px;
}

.panel {
	padding-top:60px;
	padding-bottom:80px;
}

#footer {
	background-image: url(pict/stopka.png);
	background-position: 50% 0;
	background-repeat: no-repeat;
	height:330px;
	color: #384ab6;
	width: 100%;
	margin-bottom: 280px;
}

#footerCV {
	width: 140px;
	height: 100px;
	top: 150px;
	position: relative;
	text-align: center;
	padding-top: 60px;
	display: block;
}

#laptop {
	background-image: url(pict/laptop.png);
	background-repeat: no-repeat;
	width: 980px;
	height: 586px;
}

#laptopText {
	width: 900px;
}

#laptopSliderContainer {
	position: absolute;
	top: 1042px;
	width:100%;
}

#laptopSlider {
	position: relative;
	width: 100%;
	max-width: 744px;
	margin: 0px auto;
}

.sliderArrows {
	top: 170px;
}

.sliderLeft {
	position: absolute;
	z-index:105;
	margin-left: 0px;
}

.sliderLeft:hover {
	margin-left: -2px;
}

.sliderRight {
	position: absolute;
	right: 0px;
	z-index:105;
	margin-right:0px;
}

.sliderRight:hover {
	margin-right:-2px;
}

.sliderInnerContainer {
	position: relative;
	z-index:100;
	width:100%;
	max-width: 1180px;
	margin: 0px auto;
}

.slidesjs-next {
	display:none;
}

.slidesjs-previous {
	display:none;
}

.slidesjs-pagination {
	display:none;
}

.selectedRect {
	fill: #384ab6;
}

.unselectedRectBright {
	fill: white;
}

.unselectedRectDark {
	fill: black;
}

.pagination {
	text-align: right;
	float: right;
}

.paginationRect {
	margin-left: 12px;
	cursor: pointer;
}

.slider {
	position: relative;
	width: 100%;
	max-width: 900px;
	margin: 0px auto;
}

.sliderTV {
	max-width:700px;
	margin-bottom: 100px;
}

.sliderContainer {
	width:100%;
}

.sliderText {
	width: 100%;
	max-width: 900px;
}

#third {
    background-color: black;
}

#fourth {
	background-color: white;
}

#fifth {
	background-color: black;
}

#sixth {
	background-color: white;
}

.tvDescription {
	margin-top: 130px;
}

.tv {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-image: url(pict/telewizorWWW.png);
	padding-top: 25px;
}

#seventh {
	background-color: black;
}

.grayscale {
	-webkit-filter: grayscale(1); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	filter: gray; filter: grayscale(100%);
	filter: url(pict/filters.svg#grayscale);	
}

.rectTurnLeft {
	overflow: hidden;
	position:absolute;
	width:158px;
	height:158px;
	top:45px;
	left:45px;	
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(0deg);
	transform:rotate(-45deg);
/* 	transition: width 300ms, height: 300ms; */
/* 	-moz-transition:width 300ms, height 300ms, left 600ms, top 600ms; */
}

.rectTurnRight {
	width:250px;
	height:250px;
	position:absolute;
	left: -35px;
	top: -35px;
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);		
}

.rectInner {
	width: 250px;
	height: 250px;
	position: absolute;
}

.rectPict {
	margin-top: 10px;
	margin-left: -5px;
}

.rectHalf {
	position: absolute;
	width: 150%;
	height: 100%;
	top: 50%;
	background-color: rgba(0,0,0,0.6);
	margin-left: -5px;
	color: white;
	text-align: center;
	font-size: x-large;
	padding-top: 10%;
	text-decoration: none;
}

#tiles {
	position: absolute;
	top: 90px;
	width: 900px;
	height: 900px;
	left: 0px;
	right: 0px;
}

.row1 {
	top : 110px;
}

.row2 {
	top: 230px;
}

.row3 {
	top: 350px;
}

.row4 {
	top: 470px;
}

.row5 {
	top: 590px;
}

.col1 {
	left: 193px;
}

.col2 {
	left: 313px;
}

.col3 {
	left: 433px;
}

.col4 {
	left: 553px;
}

.col5 {
	left: 673px;
}
